<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição Confirmada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="success-container">
    <div class="container">
        <h1>Inscrição realizada com sucesso!</h1>
        <p>Você está participando do sorteio. Boa sorte! 😁😎</p>
        <a href="/">Voltar para a página inicial</a>
    </div>
    <link rel="stylesheet" href="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-button.css">
<a id="robbu-whatsapp-button" target="_blank" href="https://api.whatsapp.com/send?phone=5521996102233&text=Fale%20conosco%20pelo%20WhatsApp">
  <div class="rwb-tooltip"><strong>Dúvidas? Fale conosco pelo WhatsApp.</strong></div>
  <img src="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-icon.svg">
</body>
</html>